body {
  background: rgb(0, 36, 2);
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #e0e0e0 46%,
    #d3d3d3 100%
  );
}
main {
  width: 80%;
  margin: 5% auto;
  padding: 2.5%;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  letter-spacing: 3px;
  border: 5px solid #000000;
}

h1 {
  margin-top: 5%;
  padding-bottom: 5%;
  color: #1f67aa;
}

a {
    color: black;
    text-decoration: none;
}

a:focus, a:hover {
color: blue;
}

h2 {
    cursor: pointer;
    background: url(images/plus.png) no-repeat left center;
    padding-left: 20px;
}

h2.minus {
    background: url(images/minus.png) no-repeat left center;
}

div.description {
    display: none;
}

div.open {
    display: block;
}

label {
  width: 15em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 5%;
  text-align: right;
}

textarea {
  vertical-align: top;
}


span {
  color: #df0404;
}
